.outer-footer-container
  .footer -
    a(href=eventUrl) #{eventName} -
    .contact
      span
        a(href='mailto:gegenrechts@fcstpauli-marathon.de') Kontakt
      span  |&nbsp;
        a(href='http://www.fcstpauli-marathon.de/start/wp-content/uploads/2019/02/impressum-neu-Kopie.jpg') Impressum
    .contact
      span.lnr.lnr-rocket
        span.small &nbsp;by:&nbsp;
          a(href='https://github.com/pace-running/') pace (#{pace_sha})
      span.small  /  Icons by:&nbsp;
        a(href='https://linearicons.com')
          span.lnr.lnr-linearicons
