block content

h3 Liebe Läufer*innen

span Vielen Dank für den großartigen Zuspruch! Da uns viele Anfragen erreichen von Personen, die das Shirt und die Startnummer zugeschickt bekommen wollen, vor allem weil sie nicht in Hamburg wohnen, schlagen wir dieses Jahr Pandemie-bedingt ausnahmsweise folgende Vorgehensweise vor:
span Wer sich Shirt und Startnummer schicken lassen möchte, muss
p 1. zusätzlich 4 Euro überweisen (entweder geforderte Summe um 4 Euro erhöhen oder nachträglich 4 Euro überweisen)
p 2. uns eine Email schicken mit genauem Name, Adresse #[strong und] Startnummer*
p Vorausgesetzt die Verordnungen der Stadt Hamburg lassen es zu, werden wir am Pfingstwochenende eine Startnummernausgabe mit entsprechenden Schutzmaßnahmen anbieten. Genaue Infos dazu werden ca. 1-2 Wochen vorher per Rundmail bekannt gegeben werden.
p Eure Marathonabteilung


p *Damit wir Euch die Sachen zuschicken können, müssen wir natürlich personenbezogene Daten erfassen und speichern. Ihr erklärt Euch durch die Übermittlung Eurer Daten damit einverstanden, dass wir diese im Rahmen der Versandaktion speichern und verarbeiten. Nach dem Versenden werden alle Daten gelöscht. Wir geben sie zu keinem Zeitpunkt an Dritte weiter.
