block content
  .thanks
   h3 Hey #{name}
   div um allzu lange Wartezeiten beim Abholen der Startunterlagen morgens vor dem Lauf zu vermeiden, kannst Du Deine Startunterlagen (und das T-Shirt, wenn bestellt) bereits am
   div
     strong Samstag, den 1.6.2019
   span abholen. Ihr findet uns am Millerntorstadion vor den Fanräumen unter der Gegengerade (Heiligengeistfeld). Für diejenigen die noch kein T-Shirt bestellt hatten, wird es eine begrenzte Menge an T-Shirts noch zu kaufen geben.
   div
     strong Zeit: 12 bis 18 Uhr
     div(style="color:red")
       strong WICHTIG:
       span Wir brauchen dazu unbedingt Deine STARTNUMMER: #{startnumber}
   p Die Möglichkeit am Sonntag, den 2.6.2019, von 8 Uhr bis 9.30 Uhr Startunterlagen und Shirts abzuholen, bleibt natürlich bestehen.
   strong WICHTIG AUßERDEM:
     div Wegen der vielen Anmeldungen wird es vier Starts geben: den ersten um 10 Uhr, danach immer jeweils 5 Minuten später. Auf der Startnummer ist vermerkt, in welchem Startblock ihr startet. Nur Läufer*innen im ersten Startblock (betrifft diejenigen, die sich als „schnell und sportlich“ angemeldet haben) können als Gewinner*innen berücksichtigt werden.
  div
   strong Achtung! KEINE Zeitmessung!! Nur Selbstmessung möglich.
   p Wer in der Ergebnisliste erscheinen will oder eine Urkunde haben möchte, kann die Zeit nach dem Lauf auf der Webseite selber eintragen und erscheint dann automatisch in der Ergebnisliste und die Urkunde kann runtergeladen werden. Für all, die keine Uhr dabei haben, stehen im Zielbereich nach Startblöcken aufgeteilte Uhren bereiet, an denen jede*r Läufer*in die Zielzeit ablesen kann.
   p Sportliche Grüße,
   p das „Lauf gegen Rechts“-Orga-Team
