block content

h1 Egal wo in Zeiten von Corona:
h1 Der FC St. Pauli läuft im Juni individuell gegen Rechts!
bold ACHTUNG:
p Eure Gesundheit ist uns wichtig. Seid verantwortungsvoll und haltet Abstand beim Laufen! Verabredet Euch nicht in großen Gruppen und beachtet die derzeit geltenden Schutzmaßnahmen, damit Ihr Euch und andere nicht gefährdet!
p Aufgrund der COVID-19 Pandemie findet der 9. Lauf gegen Rechts nicht in der gewohnten Form statt. Die Veranstaltung am 24. Mai ist abgesagt! Aktuell ist ein gemeinsames Zeichen gegen Rechts setzen als Großveranstaltung nicht möglich. In diesem Jahr muss das jede*r für sich machen. Daher lauft Ihr im Juni individuell eine Strecke Eurer Wahl, egal wo, wann und wie Ihr wollt um zu zeigen, dass Faschismus und rechter Hass keinen Platz in dieser Gesellschaft haben.
p Postet ein Bild davon in den sozialen Medien und verwendet  #lgr2020 #fightfascism #refugeeswelcome #leavenoonebehind und weitere Hashtags Eurer Wahl.

p *Modalitäten werden noch bekannt gegeben.
