block content

h3 hey #{name}

p Du hast Dich erfolgreich für den Lauf gegen Rechts angemeldet, der coronabedingt ja dieses Jahr individuell im Juni stattfindet.
p Dieses Jahr könnt Ihr Eure Startnummern auch selber ausdrucken.
  a(href=pdfUrl) Startnummer runterladen
p Zum Abholen der Shirts für diejenigen, die gezahlt haben, ist folgendes vorgesehen: Wir sind am
p Freitag den 29. Mai, 16-20 Uhr, und
p Montag den 1. Juni, 12-18 Uhr
p vor den Fanräumen am Millerntorstadion (Gegengerade) für euch da. Bitte bringt eure Startnummern mit (Ausgabe erfolgt nach Startnummern). Bei der Ausgabe sind die euch bekannten Abstandsregeln einzuhalten und wir empfehlen einen Mund-Nasen-Schutz. Shirt-Umtausch oder Kauf-vor-Ort ist dieses Jahr coronabedingt NICHT möglich.
p Natürlich könnt ihr auch für befreundete Läufer*innen mit abholen, wenn ihr deren Startnummer wisst.
P Dort könnt Ihr auch Eure Startnummer abholen wenn Ihr sie nicht selber drucken wollt.
p FORZA!

