block content

h3 Liebe Läufer*innen
p Ihr habt es Euch sicherlich schon denken können: natürlich findet der 9. Lauf gegen Rechts nicht in der gewohnten Form statt. Großveranstaltungen sind wegen der Covid-19 Pandemie noch bis Ende August untersagt. Klar ist aber auch: wir wollen etwas tun! Faschismus und rassistische Gewalt sind wegen des Coronavirus’ ja nicht auf einmal verschwunden, ganz im Gegenteil. Wir brauchen weiterhin Eure Unterstützung!
p Ihr seid schon ordentlich in Vorleistung gegangen. Wir haben bis zum Anmeldestopp knapp 800 Anmeldungen registriert, die schon von Euch bezahlt wurden. Das ist der absolute Wahnsinn, habt vielen Dank dafür!
p Natürlich erstatten wir Euch das Geld wenn Ihr das wünscht. Schreibt dazu eine kurze Email an info@lauf-gegen-rechts.de (unter Angabe Eurer Bankverbindung). Oder aber Ihr nehmt weiter teil. Wir haben uns eine Alternative ausgedacht, die der derzeitigen Corona-Krise angepasst ist: #[strong „Im Juni läuft der FC St. Pauli individuell* gegen Rechts - egal wo!“]
p Die Idee: Ihr bekommt eine Startnummer und, falls bestellt, ein T-Shirt von uns und lauft wann, wie und wo Ihr wollt im Juni. Dazu postet Ihr Euer Bild in den sozialen Medien, verseht es mit Eurem antifaschistischen Spruch und am besten auch mit #lgr2020 #fightfascism #leavenoonebehind #refugeeswelcome sowie weiteren kreativen, politischen Hashtags. Ihr schützt Euch und andere indem Ihr beim Laufen die derzeit geltenden Schutzmaßnahmen beachtet. Ganz wichtig: verabredet Euch nicht in großen Gruppen und haltet Abstand.
p Wir planen wie gewohnt eine Startnummer- und T-Shirtausgabe zu machen, diese natürlich aber auch mit entsprechenden Schutzvorkehrungen. Genauere Informationen dazu folgen in einer weiteren Email.
p Wir hoffen Euch gefällt was wir uns überlegt haben. Die vielen positiven Rückmeldungen und Vorschläge von Euch waren super und Motivation für uns die Veranstaltung nicht abzusagen, sondern der Corona-Krise anzupassen. So viel ist klar: dieser 9. Lauf gegen Rechts wird auf jeden Fall im Gedächtnis bleiben. Auch wenn es im Grunde kein Anlass zum Freuen ist, denn die politische Lage wird es wahrscheinlich immer noch erfordern, hoffen wir, dass wir uns zur 10. Ausgabe des Laufs gegen Rechts 2021 alle zusammen wiedersehen. Aufgrund Eurer Mithilfe können wir auf fast 10 Jahre gemeinsames antifaschistisches Engagement zurückblicken. Danke für Eure beständige Unterstützung!
p Liebe Grüße und bleibt gesund!
p Eure FC St. Pauli Marathonabteilung
p * in Zeiten von Corona

