extends guestLayout.pug

block content
	h3 Impressum
	p Anbieterangaben gem. § 5 TMG
		p Fußball-Club St. Pauli v. 1910 e.V.
		p – Abteilung: Marathon –
		p Harald-Stender-Platz 1
		p 20359 Hamburg
		p Telefon: 040 - 31 78 74 0
		p E-Mail: abteilungsleitung@fcstpauli-marathon.de
		p Der Fußball-Club St. Pauli v. 1910 e.V. wird vertreten durch den Vorstand:
		| Oke Göttlich (Präsident),
		| Christiane Hollander,
		| Carsten Höltkemeyer,
		| Joachim Pawlik,
		| Jochen Winand (Vizepräsidenten)
		p Registergericht: Amtsgericht Hamburg
		| Vereinsregisternummer: VR1884

		h3 Datenschutz
		h4 Einleitung und Begriffe
		ol
			li Einleitung
				div Mit dem Betrieb unserer Webseite www.lauf-gegen-rechts.de (im Folgenden „Webseite“ genannt) verarbeiten wir personenbezogene Daten. Diese werden von uns vertraulich behandelt und nach den geltenden Gesetzen – insbesondere der Datenschutzgrundverordnung (DSGVO) und des Bundesdatenschutzgesetzes (BDSG-neu) – verarbeitet. Mit unseren Datenschutzbestimmungen wollen wir Sie informieren, welche personenbezogenen Daten wir von Ihnen erheben, zu welchen Zwecken und auf welcher Rechtsgrundlage wir sie verwenden und gegebenenfalls wem wir sie offenlegen. Darüber hinaus werden wir Ihnen erklären, welche Rechte Ihnen zur Wahrung und Durchsetzung Ihres Datenschutzes zustehen.
			li Begriffe
				div Unsere Datenschutzbestimmungen enthalten Fachbegriffe, die in der DSGVO und dem BDSG-neu stehen. Zu Ihrem besseren Verständnis wollen wir diese Begriffe in einfachen Worten vorab erklären:
				ol
					li Personenbezogene Daten
						div „Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen (Art. 4 Nr. 1 DSGVO). Angaben einer identifizierten Person können z.B. der Name oder die E-Mail-Adresse sein. Personenbezogen sind aber auch Daten, bei denen die Identität nicht unmittelbar ersichtlich ist, sich aber ermitteln lässt, indem man eigene oder fremde Informationen kombiniert und so erfährt, um wen es sich handelt. Eine Person wird z.B. über die Angabe ihrer Anschrift oder Bankverbindung, ihres Geburtsdatums oder Benutzernamens, ihrer IP-Adressen und/oder Standortdaten identifizierbar. Relevant sind hier alle Informationen, die in irgendeiner Weise einen Rückschluss auf eine Person zulassen.
					li Verarbeitung
						div Unter einer „Verarbeitung“ versteht Art. 4 Nr. 2 DSGVO jeden Vorgang im Zusammenhang mit personenbezogenen Daten. Dies betrifft insbesondere das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung, Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung von personenbezogenen Daten.
			h4 Verantwortlicher und Datenschutzbeauftragter
			li Verantwortlicher
				div Verantwortlich für die Datenverarbeitung ist:
				div Verein:        Fußball-Club St. Pauli v. 1910 e.V. (Abteilung Marathon)
				div Gesetzlicher Vertreter: 	Vorstand: Oke Göttlich (Präsident), Christiane Hollander, Carsten Höltkemeyer, Joachim Pawlik, Jochen Winand (Vizepräsidenten)
				div Anschrift:      Harald-Stender-Platz 1, 20359 Hamburg
				div Telefon:      040 – 31 78 74 0
				div E-Mail:        abteilungsleitung@fcstpauli-marathon.de
			li Datenschutzbeauftragter
				div Wir haben für unseren Verein einen externen Datenschutzbeauftragten bestellt. Sie erreichen ihn unter:
				div Unternehmen:      HABEWI GmbH & Co. KG
				div Gesetzlicher Vertreter:		Komplementärin HABEWI GmbH,
				div diese vertreten durch den Geschäftsführer Arne Platzbecker
				div Anschrift:      Palmaille 96, 22767 Hamburg
				div Telefon:      040/ 18189800
				div Fax:        040/ 181898099
				div E-Mail:        datenschutz@habewi.de

			h4 Verarbeitungsrahmen
			li Verarbeitungsrahmen: Webseite
				div Im Rahmen der Webseite mit der URL www.lauf-gegen-rechts.de verarbeiten wir die nachfolgend unter Ziffer 6-8 im Einzelnen aufgeführten personenbezogenen Daten von Ihnen. Wir verarbeiten nur Daten von Ihnen, die Sie aktiv auf unserer Webseite angeben (z.B. durch das Ausfüllen von Formularen) oder die Sie bei der Nutzung unseres Angebotes automatisch zur Verfügung stellen.
				div Ihre Daten werden ausschließlich von uns verarbeitet und grundsätzlich nicht an Dritte verkauft, verliehen oder weitergegeben. Sofern wir uns bei der Verarbeitung Ihrer personenbezogenen Daten der Hilfe externer Dienstleister bedienen, erfolgt dies im Rahmen einer sogenannten Auftragsverarbeitung, bei der wir als Auftraggeber unseren Auftragnehmern gegenüber weisungsbefugt sind. Zum Betrieb unserer Webseite setzen wir für das Hosting einen externen Dienstleister ein. Unsere Webseite wird bei Amazon Web Services AWS (Amazon Web Services, Inc., aws.amazon.com) am Rechenzentrumsstandort Frankfurt a.M. gehostet. Sollten bei einzelnen, der in Ziffern 6-8 aufgeführten Verarbeitungen weitere externe Dienstleister zum Einsatz kommen, werden sie dort benannt.
				div Eine Datenübermittlung in Drittstaaten findet im Übrigen grundsätzlich nicht statt und ist auch nicht geplant. Über Ausnahmen von diesem Grundsatz werden wir in den nachfolgend dargestellten Verarbeitungen informieren.


			h4 Die VERARBEITUNGEN Im Einzelnen
			li Anmeldung zum Lauf gegen Rechts
				ol
					li Beschreibung der Verarbeitung
						div Um beim „Lauf gegen Rechts“ teilnehmen zu können, müssen Sie sich vorher anmelden. Die Registrierung erfolgt, indem Sie das Anmeldeformular auf unserer Webseite ausfüllen und uns elektronisch übermitteln. Zur Anmeldung bedarf es keinerlei Pflichtangaben. Sie können freiwillig entscheiden, ob Sie Ihren Vornamen, Nachnamen, E-Mail-Adresse, Geburtsjahr und/oder den Namen Ihres Teams angeben wollen. Darüber hinaus können Sie uns mitteilen, wie schnell Sie unterwegs sind – ob Sie selten, gelegentlich bis regelmäßig oder häufig, ambitioniert und schnell laufen. Weiterhin können Sie eine Auswahl zur Höhe der von Ihnen zu entrichtenden Teilnahmegebühr treffen. Schließlich können Sie im Rahmen Ihrer Anmeldung angeben, ob und in welcher Größe, sowie Ausführung (Tailliert, Unisex) Sie ein Laufshirt für 10 Euro erwerben wollen. Mit dem Anklicken des Buttons „Absenden“ übermitteln Sie uns das Formular. Ihnen wird dann im Anschluss auf unserer Webseite mitgeteilt, dass Ihre Anmeldung erfolgreich war und welche Startnummer Ihnen durch unser System vergeben worden ist. Darüber hinaus wird ein für Sie generierter Link ausgegeben, unter dem Sie Ihre persönlichen Angaben und erteilte Einwilligungen verwalten können.
					li Zweck
						div Die Verarbeitung erfolgt, um Ihnen die Anmeldung beim „Lauf gegen Rechts“ ermöglichen zu können.
					li Rechtsgrundlage
						div Die Verarbeitung Ihrer Anmelderangaben (Vorname, Nachname, E-Mail-Adresse, Geburtsjahr, Name des Teams, Angaben zur Laufpraxis) erfolgt auf Grundlage einer Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO. Ihre Einwilligung ist freiwillig. Die Verarbeitung Ihrer Angaben zum Laufshirt (Kaufentscheidung, Größe, Modell) ist zum Abschluss und zur Erfüllung des Kaufvertrages erforderlich (Art. 6 Abs. 1 lit. b DSGVO).
					li Speicherdauer und Widerruf der Einwilligung
						div Die von Ihnen bei der Anmeldung angegebenen Daten werden 4 Monate nach der Veranstaltung automatisch gelöscht. Sofern wir Ihre Daten auf Grundlage einer Einwilligung verarbeiten, können Sie diese Einwilligung jederzeit widerrufen. Dafür genügt eine einfache Erklärung per E-Mail an info@lauf-gegen-rechts.de oder per Post an Fußball-Club St. Pauli v. 1910 e.V. (Abteilung Marathon), Harald-Stender-Platz 1, 20359 Hamburg. Sie können Ihre Daten im Übrigen jederzeit selbst unter dem in Ziffer 6.1 genannten persönlichen Link bearbeiten, ergänzen oder löschen.
			li Veröffentlichung von Ergebnislisten
				ol
					li Beschreibung der Verarbeitung
						div Nach dem „Lauf gegen Rechts“ können Sie entscheiden, ob Sie in einer Liste der Teilnehmer*innen mit Ihren Vornamen, Nachnamen, Ihrem Team-Namen, Ihrer Zeit, Ihrer Startnummer und Ihrer Platzierung aufgeführt, sowie auf unserer Webseite unter https://www.lauf-gegen-rechts.de/results veröffentlicht werden wollen. Sie haben aber die Möglichkeit, nach dem Lauf unter dem in Ziffer 6.1 genannten persönlichen Link zu entscheiden, ob Sie in den Ergebnislisten unserer Webseite auftauchen wollen.
						div Wir führen bei unserer Veranstaltung keine Zeitmessung durch. Sie können jedoch unter Ihrem persönlichen Link die von Ihnen selbst gestoppte Zeit einzutragen. Sofern Sie auf dieser Profilseite Ihre Zeit eintragen, wird diese zusammen mit den von Ihnen getätigten Angaben in oben genannten Formularfeldern (Vorname, Nachname, Team-Namen, Zeit, Startnummer, Platzierung) in den Ergebnislisten veröffentlicht. Aus diesen Daten generiert unser System automatisch eine Urkunde, die Sie sich im Rahmen der öffentlich einsehbaren Ergebnislisten herunterladen können.
						div Wir weisen darauf hin, dass Informationen im Internet weltweit zugänglich sind und mit Suchmaschinen gefunden werden können. Ins Internet gestellte Informationenkönnen darüber hinaus von Dritten problemlos kopiert und weiterverbreitet werden. Es gibt spezialisierte Archivierungsdienste, deren Ziel es ist, den Zustand bestimmter Websites zu bestimmten Terminen dauerhaft zu dokumentieren. Dies kann dazu führen, dass im Internet veröffentlichte Informationen auch nach ihrer Löschung auf der Ursprungsseite weiterhin andernorts aufzufinden sind.
					li Zweck
						div Die Verarbeitung erfolgt, um eine Ergebnisliste für unseren „Lauf gegen Rechts“ erstellen und auf unserer Webseite veröffentlichen zu können. Dadurch sollen die Läufer eine Übersicht über die erzielte Platzierung und eine entsprechende individuelle Urkunde erhalten können.
					li Rechtsgrundlage
						div Die Verarbeitung erfolgt auf Grundlage einer Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO. Ihre Einwilligung ist freiwillig.
					li Speicherdauer und Widerruf der Einwilligung
						div Die Ergebnislste wird 4 Monate nach der Veranstaltung automatisch gelöscht. Die von Ihnen erteilte Einwilligung zur Aufnahme in die Ergebnisliste und deren Veröffentlichung auf unserer Webseite können Sie jederzeit widerrufen. Dafür genügt eine einfache Erklärung per E-Mail an info@lauf-gegen-rechts.de oder per Post an Fußball-Club St. Pauli v. 1910 e.V. (Abteilung Marathon), Harald-Stender-Platz 1, 20359 Hamburg.
			li Kontaktaufnahme per E-Mail
				ol
					li Beschreibung der Verarbeitung
						div Sie können auch über die auf der Webseite angegebenen E-Mail-Adressen Kontakt mit uns aufnehmen. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten durch uns verarbeitet.
					li Zweck
						div Mit der Bereitstellung unserer E-Mail-Adresse auf unserer Webseite wollen wir Ihnen eine bequeme Möglichkeit anbieten, sich mit uns in Verbindung zu setzen. Die mit und in Ihrer E-Mail übermittelten Daten werden ausschließlich zum Zwecke der Bearbeitung und Beantwortung Ihres Anliegens verwendet.
					li Rechtsgrundlage
						div Die Verarbeitung ist zur Wahrung der überwiegenden berechtigten Interessen des Verantwortlichen erforderlich (Art. 6 Abs. 1 lit. f DSGVO). Unser berechtigtes Interesse liegt in dem, in Ziffer 9.2 benannten Zweck. Sofern der E-Mail-Kontakt auf den Abschluss oder der Erfüllung eines Vertrages abzielt, so erfolgt die Datenverarbeitung zur Vertragserfüllung (Art. 6 Abs. 1 lit. b DSGVO).
					li Speicherdauer
						div Die Daten werden von uns gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies ist für gewöhnlich der Fall, wenn die jeweilige Kommunikation mit Ihnen beendet ist. Beendet ist die Kommunikation dann, wenn sich aus den Umständen entnehmen lässt, dass Ihr Anliegen abschließend geklärt ist. Sofern gesetzliche Aufbewahrungsfristen einer Löschung entgegenstehen, erfolgt eine Löschung unverzüglich nach Ablauf der gesetzlichen Aufbewahrungsfrist.
			h4 SICHERHEITSMASSNAHMEN
			li Um Ihre persönlichen Daten vor fremdem Zugriff zu schützen, haben wir unsere Webseite mit einem SSL- bzw. TLS-Zertifikat versehen. SSL steht für „Secure-Sockets-Layer“ und TLS für „Transport Layer Security“ und verschlüsselt die Kommunikation von Daten zwischen einer Webseite und dem Endgerät des Nutzers. Sie erkennen die aktive SSL- bzw. TLS-Verschlüsselung an einem kleinen Schloss-Logo, das ganz links in der Adresszeile des Browsers angezeigt wird.

