extends guestLayout.pug

block content
	h3 Impressum
	p Anbieterangaben gem. § 5 TMG
		p Fußball-Club St. Pauli v. 1910 e.V.
		p – Abteilung: Marathon –
		p Harald-Stender-Platz 1
		p 20359 Hamburg
		p Telefon: 040 - 31 78 74 0
		p E-Mail: abteilungsleitung@fcstpauli-marathon.de
		p Der Fußball-Club St. Pauli v. 1910 e.V. wird vertreten durch den Vorstand:
		| Oke Göttlich (Präsident),
		| Christiane Hollander,
		| Carsten Höltkemeyer,
		| Joachim Pawlik,
		| Jochen Winand (Vizepräsidenten)
		p Registergericht: Amtsgericht Hamburg
		| Vereinsregisternummer: VR1884
	h3 Datenschutz
	p Wir speichern nur Daten, die wir zur organisation des Laufs benötigen.
	| Alle Angaben sind freiwillig. Wer will, kann sich ohne Angabe von Daten registrieren.
	| Wir geben keinerlei Daten an dritte, haben keine Cookies und speichern auch keinerlei Logdaten.
	| Mit dem bei der Registrierung angezeigten Verwendungszweck kann das Geld an uns ohne Angabe von Namen oder
	| anderen Daten überwiesen werden.
	h5 Liste der Teilnehmner*innen
	p Wollt Ihr als Teilnehmer*innen auf der Seite auftauchen, ist mindestens ein Vorname erforderlich.
	| Solltet Ihr diese Daten angegeben haben, erscheinen sie in der öffentlichen Teilnehmer*innen Liste:
	ul
		li Vorname
		li Nachname
		li Team
	h5 Ergebnisliste
	p Wenn Ihr nach dem Lauf Eure Zeit bei uns eingebt, erscheint Ihr in der Ergebnisliste.
	| Dort werden folgende Daten angezeigt:
	ul
		li Vorname
		li Nachname (wenn angegeben)
		li Team (wenn angegeben)
		li Zeit
		li Platz
		li Altersklasse (wenn angegeben)
	p Wenn Ihr eine Bestätigung der Registrierung und des Zahlungseingangs wünscht, könnt Ihr
	| eine Email-Adresse mit angeben. Diese wird nur für Bestätigungsmails benutzt.
	h5 Löschen von Daten
	p Alle Daten werden von uns 4 Monate nach der Veranstaltung gelöscht
