extends guestLayout.pug

block content
  h3 Der Lauf gegen Rechts findet dieses Jahr am 24. Mai statt
  h4 Die Anmeldung ist ab dem 1.2.2020 geöffnet

  h3 Achtung! Keine Zeitnahme!
    h5 Wir werden auch dieses Jahr KEINE Zeitmessung vornehmen.
      div Das Scannen der Barcodes ist bei so vielen Teilnehmer_innen leider nicht mehr praktikabel.
      div Wer in der Ergebnisliste erscheinen will oder eine Urkunde haben möchte, kann die Zeit nach dem Lauf auf der Webseite selber eintragen
      | und erscheint dann automatisch in der Ergebnisliste und die Urkunde kann runtergeladen werden.
      div Das heisst, Ihr müsst selber wissen wie schnell ihr wart. Für alle, die keine Uhr haben,
      | stehen im Zielbereich grosse Anzeigen bereit, die die Zeit seit dem Start anzeigen.
