extends ../guestLayout.pug

block content
  if registrationClosed
    h4.black.centered Die online Anmeldung ist für dieses Jahr geschlossen
  else
    h4.black.centered Melde dich hier zum Lauf an
    form#registrationForm(method='POST', action='/registration')
      input(type='hidden', name='_csrf', value=_csrf)
      .row
        .six.columns.padding
          label(for='firstname') Vorname
          input#firstname.u-full-width(type='text', name='firstname', autofocus)
        .six.columns.padding
          label(for='lastname') Nachname
          input#lastname.u-full-width(type='text', name='lastname')
      .row
        .twelve.columns.padding
          label(for='email') Email
          input#email.u-full-width(type='email', name='email')
      .row
        .twelve.columns.padding
          label(for='birthyear') Geburtsjahr
          input#birthyear.u-full-width(type='number', name='birthyear')
      .row
        .twelve.columns.padding
          label(for='team') Name des Teams:
          input#team.u-full-width(type='text', name='team')
      .row
        .twelve.columns.padding
          label(for='visibility') Möchtest du in der Liste der Teilnehmer*innen aufgelistet werden
          div
            small Ich bin damit einverstanden, dass der FC St. Pauli von 1910 e.V. meinen Vornamen, Namen, den Namen meines Teams und meine Startnummer in die Teilnehmer*Innenliste für den „Lauf gegen Rechts“ 2020 aufnehmen und auf der Webseite www.lauf-gegen-rechts.de veröffentlichen darf.
          select#visibility.u-full-width(name='visibility', required=true)
            option(value='no') Nein
            option(value='yes') Ja
      .row
        .twelve.columns.padding
          label(for='visibility') Wie schnell bist du unterwegs?
          select#goal.u-full-width(name='goal', required=true)
            option(value='moderate') Ich laufe selten - dabei sein ist alles
            option(value='relaxed') Ich laufe gelegentlich bis regelmäßig
            option(value='ambitious') Ich laufe häufig, ambitioniert und schnell
        .twelve.columns.padding
          p Achtung! KEINE Zeitmessung!!! Nur Selbstmessung möglich.

      noscript
        .row#noscript-registration-message
          .ten.columns.center
            p Moin! Du hast JavaScript in deinem Browser deaktiviert. Deshalb können wir dir aktuell leider kein T-Shirt anbieten. Auch die Coupon-Code Funktionalität funktioniert ohne JavaScript leider nocht nicht. Wir arbeiten daran!

      .row
        .twelve.columns.padding
          label(for='discount') Welchen Preis möchtest du zahlen
          select#discount.u-full-width(name='discount', required=true)
            option(value='no') Ich zahle den vollen Preis (10 Euro)
            option(value='yes') Ich möchte den ermässigten Preis zahlen (5 Euro)
            option(value='free') Ich habe einen Coupon (0 Euro)

      .row#coupon-input(style='display: none')
        .twelve.columns.padding
          label(for='couponcode') Coupon Code*:
            input#couponcode.u-full-width(type='text', name='couponcode')

        small Mir ist bewusst, dass die Datenverarbeitung entsprechend der Datenschutzbestimmungen der Webseite
        a(href='/impressum') lauf-gegen-rechts.de
        small erfolgt. Ich weiß, dass meine Einwilligung bzw. Einwilligungen bezüglich
        small
          ul
            li der Verarbeitung meiner Anmeldedaten (Vorname, Nachname, E-Mail-Adresse, Geburtsjahr, den Namen Ihres Teams und/oder Angaben zum Laufverhalten)
            li der Aufnahme und Veröffentlichung in der Teilnehmer*Innen-Liste
        small freiwillig ist/sind und ich sie jederzeit durch einfache Erklärung mit Wirkung für die Zukunft widerrufen kann.



      button#submit.primary.button-primary.u-full-width.pace(type='submit') Absenden


    script(type='text/javascript').
      var displayCouponcodeInput = function () {
        var couponcode = document.getElementById('couponcode');
        if (discountSelection.options[discountSelection.selectedIndex].value === 'free') {
          couponCodeInput.style.display = 'block';
          couponcode.required = true;
        } else {
          couponcode.required = false;
          couponCodeInput.style.display = 'none';
        }
      };

      var couponCodeInput = document.getElementById('coupon-input');
      var discountSelection = document.getElementById('discount');
      discountSelection.onchange = displayCouponcodeInput;
      window.onload = displayCouponcodeInput;
